openapi: 3.0.3
info:
  title: Repo Profile Service
  description: API for exposing GitHub user and repository insights via Repo Profile
  version: "1.0.0"
servers:
  - url: https://api.repoprofile.com
    description: Repo Profile Service

paths:
  /profiles:
    post:
      operationId: getProfile
      summary: Retrieve user profile and repositories
      description: Retrieve a user’s profile details along with their repositories.
      tags:
        - profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
              required:
                - username
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "400": &ErrorRef
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          <<: *ErrorRef
          description: Internal Server Error

    get:
      operationId: listProfiles
      summary: List profiles with pagination
      description: Returns an object containing a list of profiles with basic information.
      tags:
        - profiles
      parameters:
        - name: page
          description: the number of users to return per page
          in: query
          required: true
          schema:
            type: integer
            example: 1
        - name: since
          description: parameter used for pagination to fetch users starting from a specific, numerical user ID
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: A list of profiles wrapped in an object
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProfileSummary"

components:
  schemas:
    ProfileSummary:
      type: object
      properties:
        id:
          type: integer
        user:
          type: string
        avatar:
          type: string
        url:
          type: string

    UserProfileResponse:
      type: object
      properties:
        username:
          type: string
        bio:
          type: string
        avatar_url:
          type: string
        publicRepos:
          type: integer
        followers:
          type: integer
        repositories:
          type: array
          items:
            $ref: "#/components/schemas/Repository"

    Repository:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        full_name:
          type: string
        language:
          type: string
        stargazers_count:
          type: integer
        html_url:
          type: string
        frequent_language:
          type: string

    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
        error:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time