openapi: 3.0.3
info:
  title: GitHub User Info API
  description: OpenAPI spec for fetching GitHub user profiles and repositories
  version: "1.1.0"
servers:
  - url: https://api.github.com
    description: GitHub API Server

paths:
  /users:
    get:
      operationId: listUsers
      summary: List GitHub users
      description: Returns a list of GitHub users in a standard JSON array.
      tags:
        - users
      parameters:
        - name: since
          in: query
          description: The integer ID of the last User that you've seen.
          required: false
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: Results per page (max 100).
          required: false
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: A JSON array of user objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProfileSummaryDTO"

  /users/{username}:
    get:
      operationId: getUserProfile
      summary: Get user profile
      description: Retrieve profile details for a GitHub user.
      tags:
        - users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileDTO"

  /users/{username}/repos:
    get:
      operationId: getUserRepositories
      summary: List user repositories
      description: Retrieve repositories owned by a GitHub user.
      tags:
        - users
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RepositoryDTO"

components:
  schemas:
    ProfileSummaryDTO:
      type: object
      properties:
        id:
          type: integer
        login:
          type: string
        avatar_url:
          type: string
        html_url:
          type: string
        type:
          type: string

    UserProfileDTO:
      type: object
      properties:
        login:
          type: string
        name:
          type: string
        bio:
          type: string
        avatar_url:
          type: string
        public_repos:
          type: integer
        followers:
          type: integer

    RepositoryDTO:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        full_name:
          type: string
        language:
          type: string
        stargazers_count:
          type: integer
        html_url:
          type: string